
<div class="header">
	<div class="header-wrapper">
		<div id="logo-title">
			<h1>董广明</h1>
			<h2>我的博客</h2>
		</div><!--end logo-title-->
		<div class="social">
			<ul>
				<li><a href="https://twitter.com/dongguangming"><i class="icon-twitter icon-2x"></i></a></li>
				<li><a href="https://github.com/dongguangming"><i class="icon-github icon-2x"></i></a></li>
				<!--li<a href="mailto:pyladies.pdx@gmail.com?subject=Hello, Flora"><i class="icon-envelope-alt icon-2x"></i></a></li>
				<li><a href=""><i class="icon-rss icon-2x"></i></a></li-->
			</ul>
		</div><!--end social-->
	</div><!--header-wrapper-->
</div><!--end header-->
