{% extends "base.html" %}

{% block title %}Portfolio{% endblock title %}

{% block content %}
<h1>Portfolio</h1>

<p>Although I have been putting a lot of effort into learning Python, in particular, I continue to actively work on front-end projects. And while I try to throw most of my non-private, non-course-related code up on <a title="Flora Worley's Github" href="https://github.com/florapdx">my Github account</a>, it's nice to be able to show some visuals per front end projects.</p>

<p>A caveat: I am not an aspiring designer, even if I'm displaying some design work here, lacking as it may be. I do enjoy UX work (and have an interest in usability), but it's more recreational than anything.</p>

<h4>PyLadies central website redesign</h4>

{% endblock content %}